body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0px 10px;
}


.title-img {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-img h1 {
    text-shadow: 2px 2px 5px grey;
}
  
input {
    padding: .8em;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 5px;
    border: 1px solid black;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: #3e8e41;
}

.--1 {
    margin: 100px 40px 0px 40px;
    background: #ffffff;
    border: 1px solid #000;
}

.--2,.--3,.--4,.--5,.--6  {
    margin: 20px 40px;
    background: #ffffff;
    border: 1px solid #000;
}

@media only screen and (min-width:800px) {
    .--1, .--2,.--3,.--4,.--5  {
        margin: 100px 250px;
    }
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: #5a5a5a;
    padding: 10px 0px;
}